<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ohouse.web.mapper.order.OrderMapper">
    <select id="selectOrderId" resultType="int">
        SELECT ORDERS_SEQ.NEXTVAL
        FROM DUAL
    </select>

    <insert id="insertOrder">

        INSERT INTO ORDERS (
        ORDER_ID,
        MEMBER_ID,
        ADDRESS_ID,
        REQUEST_MSG,
        ORDER_NAME,
        TOTAL_PRICE,
        COUPON_DISCOUNT,
        DELIVERY_FEE,
        PAYMENT_PRICE,
        MEMBER_COUPON_ID,
        TOSS_ORDER_ID
        )
        VALUES (
        #{order_id},
        #{member_id},
        #{dto.addressId},
        #{dto.requestMsg},
        #{dto.orderName},
        #{dto.totalPrice},
        #{dto.couponDiscount},
        #{dto.deliveryFee},
        #{dto.paymentPrice},
        #{dto.memberCouponId, jdbcType=NUMERIC},
        #{dto.tossOrderId}
        )

    </insert>

    <select id="findBrandIdByProductOptionId" resultType="long">
        SELECT p.BRAND_ID
        FROM PRODUCT_OPTION po
        JOIN PRODUCT p
          ON p.PRODUCT_ID = po.PRODUCT_ID
        WHERE po.PRODUCT_OPTION_ID = #{productOptionId}
    </select>

    <insert id="insertOrderDetail">
        INSERT INTO ORDERS_DETAIL (
            ORDERS_DETAIL_ID,
            ORDER_ID,
            PRODUCT_OPTION_ID,
            BRAND_ID,
            IMG_URL,
            PRODUCT_NAME,
            OPTION_NAME,
            PRICE,
            QUANTITY
        )
        VALUES (
            SEQ_ORDERS_DETAIL.NEXTVAL,
            #{order_id},
            #{dto.productOptionId},
            #{dto.brandId},
            #{dto.imgUrl},
            #{dto.productName},
            #{dto.optionName},
            #{dto.price},
            #{dto.quantity}
        )
    </insert>

    <update id="updateStock">
        UPDATE PRODUCT_OPTION
        SET STOCK = STOCK - #{quantity}
        WHERE PRODUCT_OPTION_ID = #{productOptionId}
          AND STOCK >= #{quantity}
    </update>

    <!-- viewMyOrder -->
    <select id="viewMyOrder" resultType="com.ohouse.web.domain.member.MyOrderDTO">
        SELECT ORDER_ID as orders_id,ORDER_NAME,PAYMENT_PRICE,ORDER_DATE,TOTAL_PRICE
        ,REQUEST_MSG FROM ORDERS
        WHERE MEMBER_ID = #{member_id}
    </select>

    <!-- viewMyOrderDetail -->
    <select id="viewMyOrderDetail" resultType="com.ohouse.web.domain.member.MyOrderDetailDTO">
        SELECT p.PRODUCT_ID,
        od.ORDERS_DETAIL_ID,
        od.ORDER_ID,
        od.PRODUCT_NAME,od.img_url as image_url ,
        od.OPTION_NAME,od.PRICE,
        od.QUANTITY,b.BRAND_ID,
        b.BRAND_NAME,od.DELIVERY_STATUS,
        od.DELIVERED_DATE,od.PURCHASE_CONFIRMED_DATE
        FROM ORDERS_DETAIL od JOIN BRAND b ON od.brand_id = b.brand_id
        JOIN PRODUCT p ON od.PRODUCT_NAME = p.PRODUCT_NAME
        WHERE od.ORDER_ID = #{order_id}
    </select>
    <!--OrderStatusCountDTO getOrderStatusCount(int member_id)-->
    <select id="getOrderStatusCount"
            resultType="com.ohouse.web.domain.order.OrderStatusCountDTO">

        SELECT
        NVL(SUM(CASE WHEN od.DELIVERY_STATUS = 1 THEN 1 ELSE 0 END), 0) AS paymentCount,
        NVL(SUM(CASE WHEN od.DELIVERY_STATUS = 2 THEN 1 ELSE 0 END), 0) AS preparingCount,
        NVL(SUM(CASE WHEN od.DELIVERY_STATUS = 3 THEN 1 ELSE 0 END), 0) AS shippingCount,
        NVL(SUM(CASE WHEN od.DELIVERY_STATUS = 4 THEN 1 ELSE 0 END), 0) AS deliveredCount,
        NVL(SUM(CASE WHEN od.DELIVERY_STATUS IN (5, 12) THEN 1 ELSE 0 END), 0) AS confirmedCount
        FROM ORDERS_DETAIL od
        JOIN ORDERS o ON od.ORDER_ID = o.ORDER_ID
        WHERE o.MEMBER_ID = #{member_id}

    </select>

    <!--payConfirm-->
    <update id="payConfirm">
        UPDATE ORDERS_DETAIL
        SET DELIVERY_STATUS = 5 , PURCHASE_CONFIRMED_DATE = SYSDATE
        WHERE ORDERS_DETAIL_ID = #{orders_detail_id}
    </update>

    <!-- payCancel -->
    <update id="payCancel">
        UPDATE ORDERS_DETAIL
        SET DELIVERY_STATUS = 10
        WHERE ORDERS_DETAIL_ID = #{orders_detail_id}
    </update>

    <!-- payReturn -->
    <update id="payReturn">
        UPDATE ORDERS_DETAIL
        SET DELIVERY_STATUS = 6
        WHERE ORDERS_DETAIL_ID = #{orders_detail_id}
    </update>
    <!-- myCouponlist -->
    <select id="myCouponlist" resultType="com.ohouse.web.domain.member.CouponDTO">
        SELECT c.coupon_name
        ,c.discount_type
        ,c.discount_value
        ,c.min_order_price
        ,c.max_discount
        ,c.start_date
        ,c.end_date
        ,mc.member_coupon_id
        ,mc.issued_date
        ,mc.used_date
        ,mc.status
        FROM coupon c
        JOIN member_coupon mc
        ON c.coupon_id = mc.coupon_id
        WHERE mc.member_id = #{member_id}
    </select>
    <!-- getCouponCount -->
    <select id="getCouponCount" resultType="int">
        SELECT COUNT(*)
        FROM MEMBER_COUPON
        WHERE MEMBER_ID = #{member_id}
    </select>
</mapper>